#main-part p,
#main-part .column .label,
#main-part .column label {
    font-weight: 300;
    line-height: 1.38em;
    margin: 0;
    color: #777;
    font-size: 13px;
}


.bots {
 width: 15%;
}
.botprops {
 width: 20%;
}
.leaderboard {
 width: 60%;
}

#leaderboard svg {
    height: 400px;
}

#leaderboard2 svg {
    height: 400px;
}


demo-card-wide.mdl-card {
width: 512px;
}
.demo-card-wide > .mdl-card__title {
color: #757;
height: 176px;
}
.demo-card-wide > .mdl-card__menu {
color: #868;
}

.hero{
    background: #eee;
    padding: 3px;
    margin: 3px; 
    border: 3px solid #eee
    border-radius: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;
}

.mdl-button {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 3px;
}
